repos:
  - repo: https://github.com/psf/black
    rev: 21.10b0
    hooks:
      - id: black
        language_version: python3
        exclude: docs/conf.py
  - repo: https://gitlab.com/pycqa/flake8.git
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-black>=0.1.1
        language_version: python3
        exclude: docs/conf.py
  - repo: https://github.com/executablebooks/jupyter-book
    rev: 04fdc37fc246d44a53c6b231c3d8566d2b0f305e
    hooks:
      - id: jb-to-sphinx
        args: ["./docs"]
