[tool.poetry]
name = "draco"
version = "2.0.0-beta.2"
description = "Visualization recommendation using constraints"
authors = [
    "Dominik Moritz <domoritz@cmu.edu>",
    "Chenglong Wang <clwang@cs.washington.edu>",
    "JunranY <junran@cs.washington.edu>",
    "Zehua Zeng <zhzeng@umd.edu>"
]
license = "MIT"
homepage = "https://github.com/cmudig/draco2"
repository = "https://github.com/cmudig/draco2"
documentation = "https://dig.cmu.edu/draco2/"
keywords = ["constraints", "visualization", "design", "charts"]
exclude = ["draco/tests/*"]
readme = "README.md"
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "Environment :: MacOS X",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Operating System :: POSIX :: Linux",
    "Operating System :: MacOS :: MacOS X",
    "Programming Language :: Python :: 3.10",
]

[tool.poetry.dependencies]
clingo = "^5.5.2"
matplotlib = "^3.6.0"
pandas = "^1.4.2"
python = ">=3.10.0,<3.11"
scikit-learn = "^1.1.1"
fastapi = "^0.85.0"
uvicorn = "^0.18.3"

[tool.poetry.dev-dependencies]
altair = "^4.2.0"
black = {extras = ["jupyter"], version = "^22.8.0"}
flake8 = "^5.0.4"
flake8-black = "^0.3.3"
ipywidgets = "^7.7.2"
isort = "^5.10.1"
jupyter-book = "^0.13.1"
jupyterlab = "^3.4.7"
mypy = "^0.982"
pandas-stubs = "^1.5.0"
pre-commit = "^2.20.0"
pytest = "^7.1.3"
pytest-cov = "^4.0.0"
pytype = "^2022.9.27"
sphinx-autodoc-typehints = "^1.19.1"
toml = "^0.10.2"
types-pkg-resources = "^0.1.2"
vega-datasets = "^0.9.0"
wheel = "^0.37.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pyright]
include = ["draco"]

[tool.isort]
profile = "black"
