[tool.poetry]
name = "draco"
version = "2.0.0-alpha.0"
description = "Visualization recommendation using constraints"
authors = [
    "Dominik Moritz <domoritz@cmu.edu>",
    "Chenglong Wang <clwang@cs.washington.edu>",
]
license = "MIT"
homepage = "https://github.com/cmudig/draco2"
repository = "https://github.com/cmudig/draco2"
documentation = "https://dig.cmu.edu/draco2/"
keywords = ["constraints", "visualization", "design", "charts"]
exclude = ["draco/tests/*"]
readme = "README.md"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Environment :: Console",
    "Environment :: MacOS X",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Operating System :: POSIX :: Linux",
    "Operating System :: MacOS :: MacOS X",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
]

[tool.poetry.dependencies]
python = ">=3.7.1,<3.9"
clingo-cffi = { version = "5.5.0.post36", source = "test" }
pandas = "^1.2.2"

[tool.poetry.dev-dependencies]
pre-commit = "^2.11.0"
mypy = "^0.812"
pytest = "^6.2.2"
pytest-cov = "^2.11.1"
black = "^20.8b1"
data-science-types = "^0.2.22"
flake8 = "^3.9.0"
flake8-black = "^0.2.1"
jupyterlab = "^3.0.12"
vega-datasets = "^0.9.0"
jupyter-book = "^0.10.2"
pytype = "^2021.3.10"
sphinx-autodoc-typehints = "^1.11.1"

[[tool.poetry.source]]
name = "test"
url = "https://test.pypi.org/simple/"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
