{
  "name": "draco-pyodide",
  "version": "{version}",
  "description": "Pyodide distribution for Draco",
  "keywords": [
    "python",
    "webassembly",
    "draco"
  ],
  "homepage": "https://github.com/cmudig/draco2",
  "repository": {
    "type": "git",
    "url": "https://github.com/cmudig/draco2"
  },
  "bugs": {
    "url": "https://github.com/cmudig/draco2/issues"
  }
}
