name: Book

on:
  push:
    branches:
      - main

jobs:
  book:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          environment-file: environment.yml
          miniconda-version: "latest"
          activate-environment: draco
          auto-activate-base: false

      - run: python setup.py develop

      - name: Run tests
        run: make book

      - name: GitHub Pages action
        uses: peaceiris/actions-gh-pages@v3.5.9
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build/html
