name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Set up Node
        uses: actions/setup-node@v2
      - name: Install Poetry
        uses: snok/install-poetry@v1.3
      - name: Install dependencies
        run: poetry install --no-interaction

      - name: Run tests
        run: poetry run pytest --cov=./ --cov-report=xml draco
      - name: Check types
        run: make typecheck
      - name: Check Poetry
        run: make check

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2.1.0
        with:
          fail_ci_if_error: true

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: psf/black@21.12b0
        with:
          version: "21.12b0"
      - uses: py-actions/flake8@v2
