name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python
        run: uv python install

      - name: Run tests with coverage
        run: make cover COV_REPORT=xml

      - name: Check types
        run: make typecheck

      - name: Size of Grounded Programs
        run: make grounding-size

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  test-docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Build docker image
        run: docker build --build-arg PYTHON_VERSION=$(cat .python-version) -t draco .

      - name: Test dockerized environment
        run: docker run --rm draco bash -c "make env-test"

  automerge:
    needs:
      - test
      - test-docker
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: write

    steps:
      - name: Merge pull requests
        uses: fastify/github-action-merge-dependabot@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          target: minor
