name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Node
        uses: actions/setup-node@v3
      - name: Install poetry
        run: pipx install poetry
      - uses: actions/setup-python@v4
        with:
          python-version: "3.9"
          cache: 'poetry'
      - run: poetry install

      - name: Run tests
        run: poetry run pytest --cov=./ --cov-report=xml draco
      - name: Check types
        run: make typecheck
      - name: Check Poetry
        run: make check
      - name: Size of Grounded Programs
        run: make grounding-size

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3.1.0
        with:
          fail_ci_if_error: true

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
      - uses: psf/black@stable
        with:
          version: "22.3.0"
      - uses: py-actions/flake8@v2
